<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="amazon-advertising-php-sdk Test">
            <directory suffix="Test.php">./test</directory>
        </testsuite>

        <testsuite name="amazon-advertising-php-sdk Unit">
            <directory suffix="Test.php">./test/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
