<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./AmazonAdvertisingApi</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>

        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
